:root {
    --color-Darkpink: #BA4270;
    --color-LinkWaterWhite: #FBFCFE;
    --color-SanJuanBlue: #36536B;
    --color-MirageBlue: #1B262F;
    --color-CharmPink: #DA6D97;
    --color-LightSanJuanBlue: #6c8294;
   }